<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{photo.add.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{photo.add.headline}]]</h1>
                <div>
                    <a th:href="@{/photos}" class="btn btn-secondary">[[#{photo.add.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('photo')}" />
            <form th:action="${requestUri}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='photo', field='photoUrl', required=true)}" />
                <!-- Input oculto para el ID del usuario -->
                <input type="hidden" name="user" th:value="${currentUser.id}" />
                <input type="submit" th:value="#{photo.add.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
