<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout}">
<head>
    <title th:text="#{user.feed.headline}">Feed</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div layout:fragment="content">
<div class="container mt-5">
    <div class="row">

        <div th:each="user : ${followedUsers}"class="col-md-4">
            <div>
                <div class="col-md-4" th:each="photo : ${user.userPhotos}">
                    <a th:href="@{'/users/profile/' + ${user.id}}">
                        <h3 th:text="${user.nombre}">User Name</h3></a>
                    <a th:href="@{'/photos/'+ ${photo.id}}">
                        <img th:src="${photo.getPhotoUrl()}" class="img-fluid" alt="User Photo">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>