<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title th:text="#{user.list.headline}"></title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <div th:each="user : ${searchResults}" class="col-md-4">
                    <a th:href="@{'/users/profile/' + ${user.id}}">
                        <h3 th:text="${user.nombre}">User Name</h3></a>
                    <p th:text="${user.email}"></p>
            </div>
        </div>
        </div>
    </body>
</html>
