<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title th:text="#{login.title}">Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div layout:fragment="content" class="container mt-5">
    <div class="d-flex flex-wrap mb-4">
        <h1 class="flex-grow-1" th:text="#{login.title}">Login</h1>
    </div>
    <form th:action="@{/login}" method="post" class="w-50 mx-auto">
        <div th:replace="fragments/formFields :: emailField"></div>
        <div th:replace="fragments/formFields :: passwordField"></div>
        <button type="submit" class="btn btn-primary" th:text="#{login.button}">Iniciar sesión</button>
    </form>
</div>
</body>
</html>
